:root {
  --background-color: #e6ebee;
  --blue-main: #2d3d8b;
  --btn-color: #65b9ce;
  --text-color: #3e3e3e;
}
a{
  text-decoration: none;
  color: #5a5a5a;
}
.container {
  max-width: 1440px;
  margin: auto;
}
body {
  background-color: var(--background-color);
}
.bannerMain {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bannerMain-lft {
  flex-basis: 35%;
  margin-right: 50px;
}
.bannerMain-lft h2 {
  color: var(--blue-main);
  font-size: 47px;
  text-transform: uppercase;
  font-weight: 800;
}
.bannerMain .bannerMain-lft p {
  color: var(--text-color);
  font-size: 25px;
}
.bannerMain .bannerMain-rgt {
  margin-left: 50px;
}
.btn-primary {
  padding: 17px 20px;
  border: none;
  background-color: var(--btn-color);
  border-radius: 4px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 30px;
  position: absolute;
  top:0;
  left:0;
  right:0;
}
nav .nav-items ul li {
  display: inline;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 500;
}
nav .nav-logo{
  font-weight: 800;
  color: var(--blue-main);
  font-size: 19px;;
}
.textWrapper {
  background-color: transparent;
  overflow: hidden;
  height: 50px;
}