:root {
  --background-color: #e6ebee;
  --blue-main: #2D3D8B;
  --btn-color: #65B9CE;
  --text-color: #3E3E3E;
}
.container{
  max-width: 1440px;
  margin: auto;
}
body{
  background-color: var(--background-color);
}
.bannerMain{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bannerMain-lft{
  flex-basis: 35%;
  margin-right:50px;
}
.bannerMain-lft h2{
  color: var(--blue-main);
  font-size: 47px;
  text-transform: uppercase;
  font-weight: 800;
}
.bannerMain .bannerMain-lft p{
  color: var(--text-color);
  font-size: 25px;
}
.bannerMain .bannerMain-rgt{
  margin-left:50px;
}
.btn-primary{
  padding: 17px 20px;
  border: none;
  background-color: var(--btn-color);
  border-radius: 4px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
}